.container {
  border: 1px solid #cecece;
}

.top {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: 1px solid #cecece;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .top {
    flex-direction: row;
    justify-content: space-between;
  }
}

.icons {
  display: flex;
}

.icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.menu {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  list-style-type: none;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .menu {
    flex-direction: row;
  }

  .menu li {
    margin-right: 50px;
  }

}
