.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  border: 1px solid #cecece;
}

.headerTop {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: 1px solid #cecece;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .headerTop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.headerTopIcons {
  display: flex;
}

.headerTopIcon {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.menu {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  list-style-type: none;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .menu {
    flex-direction: row;
  }

  .menu li {
    margin-right: 50px;
  }
}

.footer {
  border-top: 2px solid #000091;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.footerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footerTopImages {
  flex: 1;
}

.footerTopImage {
  position: relative;
  width: 100px;
  height: 100px;
}

.footerTopContent {
  flex: 1;
  color: #383838;
  font-size: 0.8rem;
}

.footerTopContent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footerTopContent ul li {
  font-weight: bold;
}

@media (min-width: 1024px) {
  .footerTop {
    flex-direction: row;
  }

  .footerTopContent ul {
    flex-direction: row;
  }

  .footerTopContent ul li {
    margin-right: 10px;
  }
}

.footerNav {
  border-top: 1px solid #cecece;
}

.footerNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  color: #6a6a6a;
}

@media (min-width: 1024px) {
  .footerNav ul {
    display: flex;
  }

  .footerNav ul li {
    margin-right: 20px;
  }

  .footerNav ul li:not(:first-child) {
    border-left: 1px solid #cecece;
    padding-left: 20px;
  }
}
