.section {
  background-color: #F2F2F9;
  padding-top: 10px;
  padding-bottom: 50px;
}

.illustration {
  position: relative;
}

.illustrationContainer {
  height: 200px;
}

.text {
  margin-top: 30px;
  text-align: center;
}
