.leftSide h2,
.rightSide h2 {
  margin-bottom: 1.5rem;
}

.rightSide {
  background-color: #F2F2F9;
}

.rightSide h2 {
  visibility: hidden;
}

.content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
