.section {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.illustration {
  position: relative;
}

.illustrationContainer {
  height: 200px;
  position: relative;
}

.text {
  margin-top: 30px;
  text-align: center;
}
