.section {
  padding-top: 30px;
}

@media (min-width: 1024px) {
  .section {
    background: url('/images/page_taxis_group/illustration-road.svg') no-repeat left bottom;
  }
}

.section h2 {
  margin-bottom: 60px;
}

.illustration {
  position: relative;
  height: 250px;
}

.illustrationContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.box {
  background-color: #5770BE;
  color: #fff;
  padding: 50px;
  max-width: 450px;
  box-shadow: -15px 15px #484D7A;
}

.section ul {
  list-style-type: none;
}

.section ul li:before {
  content: '→';
  color: #000091;
  margin-right: 15px;
}

.section ul li {
  margin-bottom: 10px;
}

.CTA {
  display: flex;
  justify-content: center;
}
