.section {
  background-color: #484D7A;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.section ul {
  list-style-type: none;
  font-family: 'marianne-light';
}

.section ul li {
  text-align: center;
}
