.rightSide {
  background-color: #F2F2F9;
}

.rightSide h4 {
  visibility: hidden;
}

.content {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
