.nav {
  background-color: #F2F2F9;
}

.nav h6 {
  text-align: center;
}

.nav ul {
  list-style-type: decimal;
}

.nav ul li {
  margin-bottom: 10px;
}

.content h1 {
  color: #000074;
}

.content h1:after {
  content: '';
  margin-top: 10px;
  border-bottom: 3px solid #000091;
  display: block;
  width: 150px;
  height: 3px;
}

.content h5 {
  color: #000074;
  font-size: 1.3rem;
}
