@font-face {
  font-family: 'marianne-regular';
  src:
    url('/fonts/marianne/marianne-Regular.woff2') format('woff2'),
    url('/fonts/marianne/marianne-Regular.woff') format('woff')
  ;
}

@font-face {
  font-family: 'marianne-light';
  src:
    url('/fonts/marianne/marianne-Light.woff2') format('woff2'),
    url('/fonts/marianne/marianne-Light.woff') format('woff')
  ;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Marianne-Regular';
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #000091;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.highlight,
.highlight,
.highlight,
.highlight,
.highlight,
.highlight
{
  color: #000074;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

.highlight {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
