@font-face {
  font-family: 'Marianne-Regular';
  src:
    url('/fonts/marianne/Marianne-Regular.woff2') format('woff2'),
    url('/fonts/marianne/Marianne-Regular.woff') format('woff')
  ;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Marianne-Regular';
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #000091;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
