.subtitle {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle small {
  display: block;
  font-weight: normal;
}

.textContent {
  margin-bottom: 50px;
}

.leftList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: center;
}

@media (min-width: 1024px) {
  .leftList {
    flex-direction: row;
  }
}

.leftList li {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.leftList li:before {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000091;
  color: #fff;
  width: 50px;
  height: 50px;
}

.leftList li:nth-child(1):before {
  content: "1";
}

.leftList li:nth-child(2):before {
  content: "2";
}

.leftList li:nth-child(3):before {
  content: "3";
}

@media (min-width: 1024px) {
  .leftList li:not(:last-child):after {
    border-top: 5px solid #000091;
    z-index: 1;
    position: absolute;
    top: 25px;
    left: calc(50% + 25px - 2px);
    content: "";
    width: calc(100% - 25px + 2px);
    display: block;
  }
}
