.section {
  background-color: #484D7A;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.section h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.image {
  width: 70%;
  align-self: center;
}
