/*
 * Goals
 */

.goalsSection {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  background: linear-gradient(180deg, #fff 50%, #ECECFF);
  padding-bottom: 30px;
}

.goalsSection h4 {
  color: #00006D;
}

ul.goalsSectionGoals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

ul.goalsSectionGoals li {
  position: relative;
  background: url('/images/icons/list-check.svg') no-repeat left center;
  background-size: 22px;
  padding-left: 40px;
  padding-right: 10px;
  margin-bottom: 32px;
}

ul.goalsSectionGoals li:after {
  content: "";
  border-left: 1px dashed #7f7fc8;

  position: absolute;

  /* half size of li + size of margin-bottom */
  height: calc(50% + 32px - 11px);
  /* middle of li + half of the background size */
  top: calc(50% + 11px);
  /* ~half of the background size */
  left: 10px;
}

ul.goalsSectionGoals li:before {
  content: "";
  border-left: 1px dashed #7f7fc8;

  height: calc(50%);
  position: absolute;

  left: 10px;
  top: -11px;
}

.goalsSectionContent ul li:last-child:after,
.goalsSectionContent ul li:first-child:before {
  border-left: none;
}

.goalsSectionContent {
  flex: 1;
}

.goalsSectionIllustration {
  flex: 1;
  margin-top: 50px;
}

.goalsSectionIllustrationContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  ul.goalsSectionGoals {
    flex-direction: row;
    flex-wrap: wrap;
  }

  ul.goalsSectionGoals li {
    width: 50%;
  }

  /* reset borders */
  ul.goalsSectionGoals li:after,
  ul.goalsSectionGoals li:before {
    border: none;
  }

  ul.goalsSectionGoals li:nth-child(odd) {
    order: 0;
  }

  ul.goalsSectionGoals li:nth-child(even) {
    order: 1;
  }

  ul.goalsSectionGoals li:nth-child(odd):after {
    border-left: 1px dashed #7f7fc8;
  }

  ul.goalsSectionGoals li:nth-child(even):before {
    border-left: 1px dashed #7f7fc8;
  }
}

/*
 * Challenges
 */

.challengesSection {
  background-color: #484D7A;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.challengesSection h4 {
  color: #fff;
  text-align: center;
}

.challengeCards {
  display: flex;
  flex-direction: column;
}

.challengeCard {
  background-color: #fff;
  margin-bottom: 10px;
  flex: 1;
  padding: 20px;
}

.challengeCardIllustration {
}

.challengeCardIllustrationContainer {
  position: relative;
  height: 100px;
}

.challengeCard h5 {
  text-align: center;
  font-size: 1.2rem;
}

.challengeCard p {
  color: #383838;
}

.challengeCard .challengeCardCTA {
  text-align: right;
  font-size: 1.5em;
}

@media (min-width: 1024px) {
  .challengeCards {
    flex-direction: row;
  }

  .challengeCard {
    margin-right: 10px;
  }
}

/*
 * API Description
 */
.APIDescriptionSection {
  background-color: #E5E5F4;
  padding: 10px;
  padding-bottom: 20px;
}

.APIDescriptionSection h4 {
  text-align: center;
}

.APIDescriptionIllustrationContainer {
  position: relative;
  height: 250px;
  width: 100%;
}

/*
 * Partners section
 */
.partnersSection {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 50px;
}

.partnersSection h4 {
  color: #000074;
}

.partnersSection h4 {
  text-align: center;
  background-color: #fff;
}

.partnersLogos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.partnersLogoContainer {
  margin: 20px;
}

@media (min-width: 1024px) {
  .partnersLogos {
    flex-direction: row;
    justify-content: center;
  }

  .partnersLogoContainer {
    margin: 30px;
  }
}
