.section {
  background-color: #484D7A;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.section h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

/*
 * Override default style to limit size an center the image.
 */
.section .img {
  width: 200px;
  height: 130px;
  left: calc(50% - 200px/2);
  top: calc(50% - 130px/2);
}
