.section {
  background: linear-gradient(180deg, #fff 50%, #ECECFF);
  padding-top: 30px;
}

.section h4 {
  color: #00006D;
}

.goals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.goals li {
  position: relative;
  background: url('/images/icons/list-check.svg') no-repeat left center;
  background-size: 22px;
  padding-left: 40px;
  padding-right: 10px;
  margin-bottom: 32px;
}

.goals li:after {
  content: "";
  border-left: 1px dashed #7f7fc8;

  position: absolute;

  /* half size of li + size of margin-bottom */
  height: calc(50% + 32px - 11px);
  /* middle of li + half of the background size */
  top: calc(50% + 11px);
  /* ~half of the background size */
  left: 10px;
}

.goals li:before {
  content: "";
  border-left: 1px dashed #7f7fc8;

  height: calc(50%);
  position: absolute;

  left: 10px;
  top: -11px;
}

.goals li:last-child:after,
.goals li:first-child:before {
  border-left: none;
}

@media (min-width: 1024px) {
  .goals {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .goals li {
    width: 50%;
  }

  /* reset borders */
  .goals li:after,
  .goals li:before {
    border: none;
  }

  .goals li:nth-child(odd) {
    order: 0;
  }

  .goals li:nth-child(even) {
    order: 1;
  }

  .goals li:nth-child(odd):after {
    border-left: 1px dashed #7f7fc8;
  }

  .goals li:nth-child(even):before {
    border-left: 1px dashed #7f7fc8;
  }
}

.illustrationContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
