.section {
  background: linear-gradient(180deg, #fff 50%, #ECECFF);
}

@media screen and (min-width: 768px) {
  .section {
    background-image: url('/images/homepage/illustration-home.svg');
    background-repeat: no-repeat;
    background-position: calc(25%) bottom; 
  }
  .section h1 {
    margin-left: -25%;
  }
};

.illustrationContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .illustrationContainer {
    display: none;
  }
}