.section {
  background-color: #E5E5F4;
  padding-top: 4.5rem;
  padding-bottom: 6rem;
  text-align: center;
}

.section h2 {
  margin-bottom: 50px;
}

.section img {
  width: 90%;
}

.link  {
  --link-underline: 0px;
  text-decoration: none;
  color: #000091;
}

@media screen and (min-width: 768px) {
  .schemaVertical {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .schemaHorizontal {
    display: none;
  }
}
