.card {
  text-align: center;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card .logo {
  min-height: 150px;
  max-height: 150px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.card .description {
  height: 100%;
}

.card .links {
  display: flex;
  flex-direction: column;
}

.card .links > * {
  margin: 0.5rem;
}
